<div class="create_an_item">
  <%= form_for :custom_customer, :url => url_for(:controller => "sales", :action => "create_custom_customer", :sale_id => @sale.id, :format => :js), :method => "get", :remote => true, :html => { :id => 'create_custom_customer' } do |f| %>
  
    <div class="form-group">
      <label>Nombre</label>
      <%= f.text_field :first_name, :class => "form-control", :placeholder => "Nombre(s)" %>
    </div>
    <div class="form-group">
      <label>Apellidos</label>
      <%= f.text_field :last_name, :class => "form-control", :placeholder => "Apellidos" %>
    </div>
    <div class="form-group">
      <label>Correo Eléctronico</label>
      <%= f.text_field :email_address, :class => "form-control", :placeholder => "ejemplo@ejemplo.com" %>
    </div>
    <div class="form-group">
      <label>Telefono</label>
      <%= f.text_field :phone_number, :class => "form-control", :placeholder => "Telefono" %>
    </div>
    <div class="form-group">
      <label>Dirección</label>
      <%= f.text_field :address, :class => "form-control", :placeholder => "Dirección" %>
    </div>
    <div class="form-group">
      <label>Ciudad</label>
      <%= f.text_field :city, :class => "form-control", :placeholder => "Ciudad" %>
    </div>
    <div class="form-group">
      <label>Estado</label>
      <%= f.text_field :state, :class => "form-control", :placeholder => "Estado" %>
    </div>
    <div class="form-group">
      <label>C.P</label>
      <%= f.text_field :zip, :class => "form-control", :placeholder => "Código Postal" %>
    </div>
    <div class="form-group"><%= f.submit 'Agregar Cliente', :class => "btn close_custom_modal" %></div>
        
  <% end %>
</div>