<div class="make_payment">
	<h4 class="text-primary"><span class="glyphicon glyphicon-usd"></span> Agregar Pago</h4>
	<hr />
	<%= form_for :payments, :url => url_for(:controller => "payments", :action => "make_payment"), :method => "get", :remote => true do |f| %>
		<label>Tipo</label>
		<%= f.select :payment_type, [['Tarjeta de credito', 'credit_card'], ['Efectivo', 'cash'], ['Cheque', 'check'], ['Otro', 'other']], {}, { :class => "form-control" } %>
		<label>Cantidad</label>
		<%= f.text_field :amount, :class => "form-control", :placeholder => "A Cantidad", :value => @sale.remaining_balance %>
		<%= f.hidden_field :sale_id, :value => @sale.id %>
		<br />
		<%= submit_tag "Realizar Pago", :class => "btn btn-primary btn-lg" %>
	<% end %>
</div>