<%= form_for(@item_category) do |f| %>
  <%= render :partial => 'template/form_errors', :object => @item_category %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Nombre</label>
          <%= f.text_field :name, :class => "form-control", :placeholder => "Nombre de la categoría" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Descripción</label>
          <%= f.text_area :description, :class => "form-control", :placeholder => "Descripción de la categoría" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= f.submit 'Actualizar Categoria', :class => "btn btn-success btn-lg" %>
  </div>
</div>
<% end %>
