<%= form_for(@configuration, url: { controller: 'configurations', action: 'update'}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nombre Del Negocio</label>
            <%= f.text_field :store_name, :class => "form-control", :placeholder => "Nombre de la tienda" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Descripcion Del Negocio</label>
            <%= f.text_area :store_description, :class => "form-control", :placeholder => "Descripción de la tienda" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Email</label>
            <%= f.text_field :email_address, :class => "form-control", :placeholder => "Correo Electronico" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Telefono</label>
            <%= f.text_field :phone_number, :class => "form-control", :placeholder => "Telefono" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Direccion</label>
            <%= f.text_field :address, :class => "form-control", :placeholder => "Dirección" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Ciudad</label>
            <%= f.text_field :city, :class => "form-control", :placeholder => "Ciudad" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Estado</label>
            <%= f.text_field :state, :class => "form-control", :placeholder => "Estado" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>C.P</label>
            <%= f.text_field :zip, :class => "form-control", :placeholder => "Código Postal" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Impuesto Actual</label>
            <%= f.text_field :tax_rate, :class => "form-control", :placeholder => "8.25" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Pagina Web URL</label>
            <%= f.text_field :website_url, :class => "form-control", :placeholder => "www.ejemplo.com" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= f.submit 'Actualizar Negocio', :class => "btn btn-success btn-lg" %>
    </div>
  </div>
<% end %>
