<%= fields_for @user do |f|%>
  <%= render :partial => 'template/form_errors', :object => @user %>

  <div class="panel panel-default">
    <div class="panel-heading">Detallles de usuario</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Correo Electronico</label>
            <%= f.text_field :email, :class => "form-control", :placeholder => "Correo Electronico" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nombre de usuario</label>
            <%= f.text_field :username, :class => "form-control", :placeholder => "Nombre de usuario" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Contrase単a</label>
            <%= f.text_field :password, :class => "form-control", :placeholder => "Contrase単a", :type => "password" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Confirme Contrase単a</label>
            <%= f.text_field :password, :class => "form-control", :placeholder => "Confirmar Contrase単a", :type => "password" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% unless @user.id.blank? || @user.id == 1 || @user.is_admin == true %>
    <div class="panel panel-default">
      <div class="panel-heading">Permisos</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <%= f.check_box :can_update_configuration %>
                Puede cambiar las configuraciones de la tienda
              </label>
            </div>
            <div class="checkbox">
              <label>
                <%= f.check_box :can_update_users %>
                Puede editar los usuarios
              </label>
            </div>
            <div class="checkbox">
              <label>
                <%= f.check_box :can_update_items %>
                Puede editar los articulos
              </label>
            </div>
            <div class="checkbox">
              <label>
                <%= f.check_box :can_view_reports %>
                Puede ver los reportes
              </label>
            </div>
            <!-- <div class="checkbox">
              <label>
                <%= f.check_box :can_update_sale_discount %>
                Can give discounts
              </label>
            </div> -->
            <div class="checkbox">
              <label>
                <%= f.check_box :can_remove_sales %>
                Puede eliminar ventas 
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>



  <div class="row">
  <div class="col-sm-12">
    <%= f.submit 'Actualizar Usuario', :class => "btn btn-success btn-lg" %>
  </div>
</div>
<% end %>
