<%= form_for(@item) do |f| %>
  <%= render :partial => 'template/form_errors', :object => @item %>

<div class="panel panel-default">
  <div class="panel-body">

   
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Categoria</label>
          <%= f.collection_select :item_category_id, ItemCategory.where(:user_id => current_user.user_id), :id, :name, {prompt: "Selecciona Categoria"}, {class: "form-control"}  %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>SKU </label>
          <%= f.text_field :sku, :class => "form-control", :placeholder => "SKU del articulo" %>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Nombre</label>
          <%= f.text_field :name, :class => "form-control", :placeholder => "Nombre del articulo" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Precio</label>
          <%= f.text_field :price, :class => "form-control", :placeholder => "Precio del articulo" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>cantidad en inventario</label>
          <%= f.text_field :stock_amount, :class => "form-control", :placeholder => "Cantidad de inventario" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Precio costo</label>
          <%= f.text_field :cost_price, :class => "form-control", :placeholder => "Costo del articulo" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Descripción</label>
          <%= f.text_area :description, :class => "form-control", :placeholder => "Descripción del articulo" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= f.submit 'Actualizar articulo', :class => "btn btn-success btn-lg" %>
  </div>
</div>
<% end %>
