<div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Item</th>
            <th>Category</th>
            <th>Available</th>
            <th>Sold</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr class="<%= item.stock_amount > 0 ? '' : 'danger' %>">
              <td><%= item.sku %></td>
              <td><%= item.name %></td>
              <td><%= item.item_category.blank? ? '-' : item.item_category.name %></td>
              <td><%= item.stock_amount %></td>
              <td><%= item.amount_sold %></td>
              <td><%= number_to_currency item.price %></td>
              <td><%= link_to 'Show', edit_item_path(item) %> | <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="panel-body">
        <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>

    <div class="col-sm-12">
      <%= link_to 'New Item', new_item_path, :class => "btn btn-success btn-lg active" %>
    </div>