<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Created</th>
          <th>Customer</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Paid</th>
          <th>Balance</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @sales.each do |sale| %>
          <tr class="<%= sale.remaining_balance == 0.00 && !sale.total_amount.blank? ? 'success' : '' %>">
            <td><%= sale.id %></td>
            <td><%= sale.created_at.strftime("%m/%d/%y %I:%M:%S %p")  %></td>
            <td><%= sale.customer.blank? ? '-' : sale.customer.last_name %></td>
            <td><%= number_to_currency sale.total_amount %></td>
            <td><%= number_to_currency sale.tax %></td>
            <td><%= number_to_currency sale.paid_total %></td>
            <td><%= sale.remaining_balance == 0.00 && sale.payments.count > 0 ? "Paid" : "#{number_to_currency sale.remaining_balance}" %></td>
            <td><%= link_to 'Show', edit_sale_path(sale) %> | <%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="panel-body">
        <%= will_paginate @sales, renderer: BootstrapPagination::Rails %>
      </div>
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Summary</div>

  <!-- Table -->
  <%= render :partial => 'template/sales_summary' %>
</div>

<br>


<%= link_to 'New Sale', new_sale_path, :class => "btn btn-success btn-lg active" %>
