<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="robots" content="noindex">
      <meta name="googlebot" content="noindex">
      <title><%= @configurations.store_name.blank? ? "Gikma Punto de Venta" : @configurations.store_name %></title><!-- Gikma Point of Sale -->
       
      
      <meta name="description" content="<%= @configurations.store_description.blank? ? "Gikmasoft Punto de venta" : @configurations.store_description %>">
      <meta name="viewport" content ="width=device-width, initial-scale=1.0">

      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= yield :javascript %>
		  <%= csrf_meta_tags %>

    </head>
    
    <body>

    	<% if user_signed_in? %>
    		<%= render :partial => 'template/menu' %>
    	<% end %>

    	<div class="pos_wrapper">
    		<%= render :partial => 'template/alerts' %>
        
        <% if user_signed_in? %>
          <%= render :partial => 'template/breadcrumbs' %>
        <% end %>

				<%= yield %>

        <% if user_signed_in? %>
          <%= render :partial => 'template/footer' %>
        <% end %>
			</div>

  

      


      
    </body>
</html>
